
@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script|Elsie+Swash+Caps');
/*This is a comment */
/*CSS syntax

selector {
property:value;
property:value;
}

*/

/* type selector */
p{/* selects all paragraphs*/
  font size: 1em; /* could be 16px, ?pt, 100%, 1em */
  line-height: 1.5em;
}
ficaption{
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: 'Elsie Swash Caps', cursive;
  font: normal 0.75em/1.5em 'Elsie Swash Caps', cursive;;
  color: #777;
  text-align: right;
}

.milk-text {/* will select elements with class="milk-text"*/
  font:bold 2.6em 'Elsie Swash Caps', cursive;
  color: white
  text-shadow: 0 2px 3px black
}
/* ID selectors only apply to one element per page*/
#logo{ /*select elements with the id logo*/
background-color: aqua
}

/*Decendent selector*/
#logo h1{/* only h1's inside logo*/
  font-family: 'Clicker script', cursive;
}
#logo h2{
  font-family: 'Elsie Swash Caps', cursive;
}
/*Psuedoclass selectors*/
#details a:link, #details a:visited{
  color:black;
  text-decoration: none;
}
#details a:hover {
  color:black;
  text-decoration: underline;
}
#details a:active {
  color: red;
}
