<style>
@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900');
</style>

<style>
@import url('https://fonts.googleapis.com/css?family=Clicker+Script');
</style>

p {
  font-size: 1em;
  line-height: 1.5em;
}

figcaption {
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: "Elsie Swash Caps", cursive;
  color: gray;
  text-align: right;
}

.milk-text {
  font-weight: bold;
  font-size: 2.6em;
  font-family: "Elsie Swash Caps", cursive;
  color: white;
  text-shadow: 0 2px 3px black;
}

#logo {
  background: aqua;
}
 #logo h1 {
   font-family: "Clicker Script", cursive;
 }

#logo h2 {
  font-family: "Elsie Swash Caps", cursive;
}

#details a:link, #details a:visited {
  color: black;
  text-decoration: none;
}

#details a:hover {
  color: black;
  text-decoration: underline;
}

#details a:active {
  color: red;
}
