
@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');
/* add in CSS rules: font-family: 'Saira Extra Condensed', sans-serif;      */
@import url('https://fonts.googleapis.com/css?family=Raleway');
/* add in CSS rules - font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Nosifer');
/* add in CSS rules - font-family: 'Nosifer', cursive; */
@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline|Nosifer');
/* add in CSS rules - font-family: 'Fascinate Inline', cursive;
 */


h1 {
  color: red; 
  font-size: 200px; 
}

figcaption {
  font: normal 0.75em/1.5em Georgia, "Times New Roman", serif;
  color: rgba(214,	182	, 101, 1);
  text-align: right; 
}

.saira-text {
  /* this will select elements with the class of .saira-text */
  font: bold 2.6em 'Raleway', sans-serif; 
  color: rgba(222,107,33, 0.5)
 
}

.nosifer-text {
  font: bold 3.7em 'Nosifer', cursive;
  color: rgba(14,53,7);
}